# Dependencies
node_modules/
__pycache__/
venv/
.venv/
.env

# Local Storage / DB
API/mindspace.db
API/storage/uploads/
RAG/storage/faiss_indexes/
RAG/storage/chunk_maps/

# IDE / System
.DS_Store
.vscode/
.idea/
dist/
build/
.next/
out/

# Vite Cache
UI/node_modules/.vite/
